@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  min-height: 100vh;
  padding: 150px;
}

.service {
  background: #55c4f3;
  min-height: 100vh;
  width: 100%;
}

.service .contents {
  position: relative;
  margin: 30px;
}

.service .title h3 {
  font-size: 36px;
  color: #093a83;
  text-decoration: solid underline #093a83 4px;
  font-style: italic;
  margin-bottom: 40px;
  margin-top: -50px;
}

.service .contents {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.service .contents .serviceBx {
  padding: 40px 20px;
  max-width: 340px;
  margin: 20px;
  transition: 0.5s;
  text-align: center;
  background: #fff;
}

.service .contents .serviceBx:hover {
  background: #093a83;
  border: 5px solid #07b7ef;
}

.service .contents .serviceBx:hover WebIcon {
  filter: invert(1);
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .service .contents .serviceBx {
    padding: 40px 20px;
    max-width: 540px;
    margin: 20px;
    transition: 0.5s;
    text-align: center;
    background: #fff;
  }
}
